<dx-data-grid
  id="gridContainer"
  [dataSource]="productos"
  keyExpr="id"
  [showBorders]="true"
>
  <dxo-filter-row
    [visible]="showFilterRow"
    [applyFilter]="currentFilter"
  ></dxo-filter-row>
  <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search..."
    ></dxo-search-panel>
    <dxi-column dataField="id" [width]="140" caption="Factura N°">
        <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
    <dxi-column dataField="inventario" caption="Inventario"></dxi-column>
  <!-- <dxi-column
    dataField="OrderDate"
    alignment="right"
    dataType="date"
    [width]="120"
    [calculateFilterExpression]="calculateFilterExpression"
  >
    <dxo-header-filter [dataSource]="orderHeaderFilter"></dxo-header-filter>
  </dxi-column> -->
  <dxi-column
    dataField="valor"
    alignment="right"
    format="currency"
    [editorOptions]="{ format: 'currency', showClearButton: true }"
    caption="Valor"
  >
    <!-- <dxo-header-filter
      [dataSource]="saleAmountHeaderFilter"
    ></dxo-header-filter> -->
  </dxi-column>
  <!-- <dxi-column dataField="CustomerStoreCity" caption="City">
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
  </dxi-column> -->
</dx-data-grid>